.footer {
  background-color: $white;
  padding: 1em $gutter;
  width: 100%;

  p {
    color: $medium-gray;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}

